<%- include('partials/header') %>

<h1 class="text-center">
    <%= aluno.id ? 'Editar Aluno' : 'Adicionar Aluno' %>
</h1>

<div class="container">
    <form action="<%= action %>" method="POST">
        <label class="form-label" for="nome">Nome:</label>
        <input class="form-control" type="text" name="nome" value="<%= aluno.nome %>" required><br>
        <label class="form-label" for="idade">Idade:</label>
        <input class="form-control" type="number" name="idade" value="<%= aluno.idade %>" required><br>
        <label class="form-label" for="curso">Curso:</label>
        <input class="form-control" type="text" name="curso" value="<%= aluno.curso %>" required><br>
        <label class="form-label" for="nota">Nota:</label>
        <input class="form-control" type="number" step="0.01" name="nota" value="<%= aluno.nota %>" required><br>
        <button class="btn btn-success" type="submit">Salvar</button>
    </form>
</div>

<%- include('partials/footer') %>
